//-index layout for homepage
extends layout


block content
  h1.wrapper= title
  p.wrapper *pricing information scraped from www.gasbuddy.com*
  br

  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    .container
      .jumbotron
        h1.wrapper Gas Prices in Oshawa!
        p.wrapper real time up to date prices!

        a(href='/oshawaGasInfo')
         button.button.myButton(type = 'button') Continue

      .row
        .col-sm-4
          h3.wrapper Step 1 
          p.wrapper Click Continue!
          
        .col-sm-4
          h3.wrapper Step 2 
          p.wrapper See All Oshawa Gas Pricing!
        .col-sm-4
          h3.wrapper Step 3
          p.wrapper Save Money By Filling up at the Best Price!

  